/* normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
    
/*====================================================================================================================

                        _   _       _a_a
            _   _     _{.`=`.}_    {/ ''\_
      _    {.`'`.}   {.'  _  '.}  {|  ._oo)
     { \  {/ .-. \} {/  .' '.  \} {/  |
~^~^~`~^~`~^~`~^~`~^~^~`^~^~`^~^~^~^~^~^~`^~~`

README !!!!!

    - W3C propose un css validator !MAIS! Il n'est pas à jour, il est donc normal qu'il y ais des erreurs !
    - DE PLUS, le loader à été compilé en SCSS (petit préprocesseur pour faciliter) il est donc normal que le CSS parraisse long!
    - LES WEBKITS ET AUTRES ne sont que pour assurer la compatibilitée avec les autres navigateur, il est toutefois préférable d'utiliser Google Chrome pour une meilleure expérience d'utilisation!

=====================================================================================================================*/
*{
    font: 16px 'Arial', Helvetica; /*on applique un police et sa taille de base pour tout les elements du site*/
    box-sizing: border-box !important; /*supprime certains problèmes avec le padding pour des elements plus bas*/
}

body{
    background-color: #B5B5BF;/*fond du site à la racine*/
}

/*---------------------------------------------------------------------------------------------------*\
SITE CONTENT
\*---------------------------------------------------------------------------------------------------*/

/* GENERAL PARAM
=====================================================================================================*/
.site_body {
    margin: 0; /* supp des espaces externes*//*supp des espaces externes */
    top: 0; /* 0 pixel au top de la class*/ 
    display: block; /* comporte la class comme un block pour l'organisation */
}

/* NAVBAR PARAM
=====================================================================================================*/
.block_nav {
    background-color: #2D2D37; /* couleur de fond */
    border-top: 10px solid #E74C3C; /* bordure jaune en haut */
    text-align: center;/* texte centré */
    padding-top: 20px; /*espacement intérieur en haut de 20px*/
    padding-bottom: 20px;/*espacement intérieur en bas de 20px*/
    z-index: 50;/* ordre de superposition */
    box-shadow: 0 0 20px #000;/* effet d'ombre de la nav par rapport au reste du site */
    min-height: 220px;/* hauteur minimum pour éviter bug décalage quand la navbar est fixed */
}
    .block_nav ul {
        padding: 0;/* supp les espaces internes*/
        margin: 0; /* supp des espaces externes*/
        z-index: 50;/* ordre de superposition */
        display: -webkit-flex;/* flexbox pour chrome*/
        display: -ms-flexbox;/* flexbox pour mozilla */
        display: flex; /* flexbox, système d'organisation plus simple qu'avec des floats css-tricks propose un article très intéréssant dessus */
        -webkit-flex-direction: row;/* param flexbox pour chrome*/
        -ms-flex-direction: row;/* param flexbox pour mozilla */
            flex-direction: row;/* param flexbox */
        -webkit-justify-content: space-around;/* espace entre les éléments du site */
        -ms-flex-pack: distribute;/* espace entre les éléments du site */
            justify-content: space-around;/* espace entre les éléments du site */
        -webkit-align-items: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
             -ms-flex-align: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
                align-items: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
         -ms-flex-line-pack: center; /* param flexbox, pour plus d'infos voir article par css-tricks */ /* param flexbox, pour plus d'infos voir article par css-tricks */
                 -webkit-align-content: center;
                 align-content: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
        transition: all .6s ease;/* vitesse des animations */
    }
    .block_nav ul li{
        list-style: none;/* enlève les puces des listes */
    }
        .block_nav ul li svg{
            width: 70%;/* largeur de la div, ici permet de régler la taille du dessin vectoriel */
        }
        .svg_icons {
            -webkit-transform: scale(0) rotate(0deg); /* position par défauts */
                    transform: scale(0) rotate(0deg); /* position par défauts *//*param animation*//*param animation*/
            transition: all .9s cubic-bezier(.01,.01,0,.30) .7s;/*param animation*/
            -webkit-transform-origin: 50% 50%; /*place de départ de l'animation*/
            transform-origin: 50% 50%;/*place de départ de l'animation*/
        }
        .svg_icons_square {
            -webkit-transform: scale(0) rotate(-90deg); /* position par défauts */
               -moz-transform: scale(0) rotate(-90deg); /* position par défauts */
                    transform: scale(0) rotate(-90deg); /* position par défauts */
            -webkit-transform-origin: 50% 50%; /*place de départ de l'animation*/
               -moz-transform-origin: 50% 50%; /*place de départ de l'animation*/
            transform-origin: 50% 50%;/*place de départ de l'animation*//*param animation*//*param animation*/
            transition: all .9s cubic-bezier(.01,.01,0,.30) .7s;/*param animation*/
        }
        .loaded .svg_icons, .loaded .svg_icons_square {
            -webkit-transform: scale(1) rotate(-45deg);/* animation du dessin vectoriel :3 */
                    transform: scale(1) rotate(-45deg);/* animation du dessin vectoriel :3 */
        }
        .block_nav ul li:nth-child(4) img {
            display: none;/*en fonction du navigateur on affiche un icone différente par soucis de rapports vectoriel*/
        }
        .mozilla .block_nav ul li:nth-child(4) {
            width: 15%;/*100/7 = 14.28*/
            min-width: 150px;
        }
            .mozilla .block_nav ul li:nth-child(4) svg {
                display: none;/*en fonction du navigateur on affiche un icone différente par soucis de rapports vectoriel*/
            }
            .mozilla .block_nav ul li:nth-child(4) img {
                display: block;/*plus simple à manipuler*/
                width: 100%;/*quand la nav est en haut*/
                margin: auto;/*on centre l'icone*/
            }
            .mozilla .navbar-fixed li:nth-child(4) img {
                display: block;/**/
                width: 45%!important;/*on réduit l'image et le important évite le problèmes de priorités sous certains navigateurs*/
                min-width: 48px!important;
            }
        .block_nav ul li a{
            padding: 10px;/* espacement à l'intérieur*/
            color: #ECF0F1;/* couleur des liens*/
            text-decoration: none;/* supp le underline */
            font-size: 13px;/*taille de police : 13px;*/
            font-weight: bold;/*la police au Mcdo*/
        }
            .block_nav ul li a:hover, .block_nav ul li a:focus {
                color: #C0CFD1;/*couleur des liens quand la souris est dessus*/
            }
            .block_nav ul li a:before{
                margin-right: 10px;/*espaces extérieur droit*/
                content: "[";/*icons de l'animation des liens*/
                -webkit-transform: translateX(20px);/* position début de l'animation*/
                transform: translateX(20px);/* position début de l'animation*/
            }
            .block_nav ul li a:after{
                margin-left: 10px;/*espaces extérieur gauche*/
                content: ']';/*icons de l'animation des liens*/
                -webkit-webkit-transform: translateX(-20px);/* position début de l'animation */
                   -moz-webkit-transform: translateX(-20px);/* position début de l'animation */
                    -ms-webkit-transform: translateX(-20px);/* position début de l'animation */
                     -o-webkit-transform: translateX(-20px);/* position début de l'animation */
                        webkit-transform: translateX(-20px);/* position début de l'animation */
                               transform: translateX(-20px);/* position début de l'animation */
            }
            .block_nav ul li a:before,
            .block_nav ul li a:after {
                display: inline-block;/* liens en ligne (simple sécurité par rapport à la flexbox qui pourrait ne pas forcément bien marcher sous certains navigateur */
                opacity: 0;/*on ne le vois pas, il c'tait caché, TU CAPTE ? IL STEACK HACHE*/
                transition: -webkit-transform 0.3s, opacity 0.2s;/*vitesse d'animations*/
                transition: transform 0.3s, opacity 0.2s;/*vitesse d'animations*/
            }
            .block_nav ul li a:hover:before,
            .block_nav ul li a:hover:after,
            .block_nav ul li a:focus:before,
            .block_nav ul li a:focus:after {
                opacity: 1;/*on le voit là*/
                -webkit-webkit-transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
                   -moz-webkit-transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
                    -ms-webkit-transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
                     -o-webkit-transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
                        webkit-transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
                               transform: translateX(0px);/* position des brackets quand la souris est sur le lien*/
            }
    .navbar-fixed {
        margin-left: 0px;/*espace externe gauche*/
        position: fixed;/*la navbar suit l'écran*/
        height: 75px; /*on dois mettre ceci à cause d'internet explorer*/
        width: 100%;/*largeur de 100%*/
        background-color: #2D2D37;/*fond noir transparent*/
    }
    .navbar-fixed svg {
        width: 30% !important;/*réduit l'icone quand la nav suit l'écran*/
    }
    hr {
        width: 30%;
    }

/* BANNIERE PARAM
=====================================================================================================*/
.block_banner {
    background-attachment: fixed;/*le fond ne bouge pas*/
    background-size: cover;/* on s'assure que le fond occupe toute la taille de la bannière*/
    vertical-align: middle;/* juste pour être sur d'aligner verticalement le titre */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);/*ombre intérieur pour donner un effet de profondeur */
}
    .block_banner h2{
        font-size: 75px; /* taille de la police de la bannière */
        line-height: 400px;/*hauteur d'une ligne */
        margin: auto;/*corrige un léger bug d'espacement*/
        padding-left: 10%;/*permet un décalage (plus joli que collé sur le bord)*/
        background-color: rgba(45, 45, 55, 1);/*on assombrit l'image derrière le texte*/
        color: white;/*couleur du texte*/
        text-shadow: 0 0 0 #000;/*animation début*/
        -webkit-transition: all .5s ease .5s; /*transition timing*/
             -o-transition: all .5s ease .5s; /*transition timing*/
                transition: all .5s ease .5s; /*transition timing*/
    }
    .loaded .block_banner h2 {
        background-color: rgba(0, 0, 0, 0.5);/*on assombrit l'image derrière le texte*/
        text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);/*Effet 3d sur le titre de la bannière (petite astuce avec les shadows)*/
    }
/* SPECIAL BLOCK PARAM
=====================================================================================================*/
.block_content {
    text-align: center;/*centre le texte*/
    margin: auto;/*centre le block (au cas où)*/
}
    .block_content .title h6 {
        font-weight: bold;/*on met le titre en gras*/
        font-size: 32px;/*taille de la police*/
        margin: 5px;/*marge extérieur*/
        color: black;/*couleur de la police*/
    }
    .block_content a {
        color: black;/*couleur de la police (encore)*/
        text-decoration: underline;/*ON SOULIGNE MAGGLE*/
    }
    .block_content ul{
        margin: auto;/*on centre la div*/
        padding: 0;/*par d'espace intérieur*/
        margin: 0; /* supp des espaces externes*/
        text-align: center;/*on aligne*/
    }
    .block_content .more_infos {
        margin: auto;/*on centre la div*/
        padding: 40px;/*espaces intérieur*/
    }
    .block_content .more_infos li{
        color: black;/*couleur de la police*/
    }
    .block_content .more_infos p {
        color: black;/*couleur de la police*/
        font-weight: bold;/*police en gras*/
        font-size: 18px;/*taille de la police*/
    }
.block_view {
    background-color: #ecf0f1;/* couleur de fond */
    display: -webkit-flex;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    display: -ms-flexbox;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    display: flex;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    -webkit-flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
        -ms-flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
    -webkit-justify-content: space-between;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            justify-content: space-between;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
              -ms-flex-pack: justify;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
    -webkit-align-items: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
         -ms-flex-align: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            align-items: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
     -ms-flex-line-pack: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*//*param de flexbox, voir css-tricks, permet de ranger son contenu*/
             -webkit-align-content: stretch;
             align-content: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
    text-align: center;/*juste au cas ou*/
    margin-bottom: 50px;/*simple espace en bas à l'extérieur de la div*/
    width: 80%;/*largeur de la div*/
    margin: auto;/*on centre*/
    margin-top: 50px;/*simple espace en haut à l'extérieur de la div*/
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre sur le block*/
    box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre sur le block*/
}
    .block_view .block_img {
    min-width: 50%;/*on s'assure que l'image prenne la moitié de la div*/
    overflow: hidden;/*on cache ce qui dépasse (simple sécurité)*/
    }
    .block_view img {
        -webkit-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
           -moz-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
            -ms-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
             -o-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
               -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
                       clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);/*donne la forme si spéciale aux images*/
    }
    .block_view .block_content {
    min-width: 50%;/*on s'assure que le texte occupe la moitié de la div*/
    }

/* FOOTER PARAM
=====================================================================================================*/

.footer {
    background-color: #2D2D37;/*couleur de fond du footer*/
    border-top: 10px solid #E74C3C;/*bodure du haut*/
    padding: 20px;/*espace interne*/
    margin-top: 20px;/*espace top externe*/
}
    .footer_content ul {
        text-align: center;/*on centre la police*/
        margin: 0; /* supp des espaces externes*/
        padding: 0;/*espace interne*/
        list-style: none;/*on enlève les puces*/
        margin: auto;/*on centre la liste à puce*/
    }
        .footer_content ul li {
            padding: 10px;/*espace interne*/
        }
            .footer_content ul li a{
                text-decoration: none;/*pas de déco*/
                color: #ECF0F1;/*couleur de la police*/
            }
    .footer_content_img {
        margin: auto;
        width: 25%;
    }
        .footer_content_img img {
            width: 49%;
        }

.block_about {
    color: black;/*couleur de la police noir dans la div*/
    margin: auto;/*centre la div*/
    max-width: 90%;/*largeur de la div*/
    background-color: #ecf0f1;/*couleur de fond de la div*/
    padding: 20px;/*espace interne*/
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/* effet d'ombre le long de la div*/
    box-shadow: 0 0 3px rgba(0,0,0,0.3);/* effet d'ombre le long de la div*/
}
    .block_about ul li {
        margin: 10px;/*espace externe*/
        border-radius: 4px;/*on adoucit les bords*/
        padding: 10px;/*espace interne*/
        cursor: pointer;/* on modifie le curseur lorsque l'on passe dessus*/
        -webkit-transition: all .2s ease;/*param d'animation*/
        -o-transition: all .2s ease;/*param d'animation*/
        transition: all .2s ease;/*param d'animation*/
    }
        .block_about ul li:before {
            content: "> ";/*rajout avant ces puces*/
        }
        .block_about ul li:hover {
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);/*effet d'ombre*/
            box-shadow: 0 0 10px rgba(0,0,0,0.3);/*effet d'ombre*/
        }
            .coda {
                background-color: #f39c12;/*couleur de fond*/
                display: inline-block;/*on s'assure que tout s'aligne bien*/
            }
            .codb {
                background-color: #3498db;/*couleur de fond*/
                display: inline-block;/*on s'assure que tout s'aligne bien*/
            }
            .codc {
                background-color: #2980b9;/*couleur de fond*/
                display: inline-block;/*on s'assure que tout s'aligne bien*/
            }
    .block_about h1 {
        padding-left: 50px;/*espace à gauche*/
        text-decoration: underline;/*ON SOULIGNE*/
    }
    .block_about table {
        margin: auto;/*on centre le tableau*/
    }
        .block_about table tbody tr td {
            padding: 5px;/*espace interne*/
            border: 1px solid #000;/*bordure de la table*/
        }
            .block_about table .thead {
                background-color: #2c3e50;/*couleur de fond du tableau*/
                color: #ecf0f1;/*couleur du texte dans le tableau*/
                font-weight: bold;/*police en gras*/
            }
            .block_about table .ttitle {
                background-color: #bdc3c7;/*couleur de fond du tableau*/
                color: #222;/*couleur du texte dans le tableau*/
            }

.block_sin {
    color: black;/*couleur de la police*/
    margin: auto;/*on centre la div*/
    max-width: 90%;/*largeur*/
    background-color: #ecf0f1;/*couleur de fond*/
    padding: 20px;/*espace*/
    text-align: center; /*on centre le contenu*/
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
    box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
}
    .block_sin ul {
        list-style: none;/*on enlève les puces*/
        padding: 0;/*supp espaces*/
        margin: 0;/*supp espaces*/
    }
        .block_sin ul li {
            margin: 10px;/*espaces*/
            border-radius: 4px;/*on adoucit les bords*/
            padding: 10px;/*espaces*/
            cursor: pointer;/*curseur du pointeur*/
            -webkit-transition: all .2s ease;/*param d'animation*/
            -o-transition: all .2s ease;/*param d'animation*/
            transition: all .2s ease;/*param d'animation*/
        }
    .block_sin h1 {
        padding-left: 50px;/*espaces*/
        text-decoration: underline;/* on souligne*/
    }
    .block_sin h2 {
        text-decoration: underline;/* on souligne*/
        font-weight: bold; /*police en gras*/
    }
    .block_sin h3 {
        font-weight: bold; /*police en gras*/
    }
    .block_sin img {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
    }
.block_after {
    color: black;/*couleur de la police*/
    margin: auto;/*on centre la div*/
    max-width: 90%;/*largeur*/
    background-color: #ecf0f1;/*couleur de fond*/
    padding: 20px;/*espace*/
    text-align: center; /*on centre le contenu*/
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
    box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
}
    .block_after ul {
        list-style: none;/*on enlève les puces*/
        padding: 0;/*supp espaces*/
        margin: 0;/*supp espaces*/
    }
        .block_after ul li {
            margin: 10px;/*espaces*/
            border-radius: 4px;/*on adoucit les bords*/
            padding: 10px;/*espaces*/
            cursor: pointer;/*curseur du pointeur*/
            -webkit-transition: all .2s ease;/*param d'animation*/
            -o-transition: all .2s ease;/*param d'animation*/
            transition: all .2s ease;/*param d'animation*/
        }
    .block_after h1 {
        text-decoration: underline;/* on souligne*/
    }
    .block_after h2 {
        text-decoration: underline;/* on souligne*/
        font-weight: bold; /*police en gras*/
    }
    .block_after h3 {
        font-weight: bold; /*police en gras*/
    }
    .block_after img {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
    }
.block_spe {
    color: black;/*couleur de la police*/
    margin: auto;/*on centre la div*/
    max-width: 90%;/*largeur*/
    background-color: #ecf0f1;/*couleur de fond*/
    padding: 20px;/*espace*/
    text-align: center; /*on centre le contenu*/
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
    box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
}   
    .block_spe ul {
        list-style: none;/*on enlève les puces*/
        padding: 0;/*supp espaces*/
        margin: 0;/*supp espaces*/
    }
        .block_spe ul li {
            margin: 10px;/*espaces*/
            border-radius: 4px;/*on adoucit les bords*/
            padding: 10px;/*espaces*/
            cursor: pointer;/*curseur du pointeur*/
            -webkit-transition: all .2s ease;/*param d'animation*/
            -o-transition: all .2s ease;/*param d'animation*/
            transition: all .2s ease;/*param d'animation*/
        }
    .block_spe_content {
        padding: 0;/* supp les espaces internes*/
        margin: 0; /* supp des espaces externes*/
        z-index: 50;/* ordre de superposition */
        display: -webkit-flex;/* flexbox pour chrome*/
        display: -ms-flexbox;/* flexbox pour mozilla */
        display: flex; /* flexbox, système d'organisation plus simple qu'avec des floats css-tricks propose un article très intéréssant dessus */
        -webkit-flex-direction: row;/* param flexbox pour chrome*/
        -ms-flex-direction: row;/* param flexbox pour mozilla */
            flex-direction: row;/* param flexbox */
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;/* espace entre les éléments du site */
        -ms-flex-pack: distribute;/* espace entre les éléments du site */
            justify-content: space-around;/* espace entre les éléments du site */
        -webkit-align-items: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
             -ms-flex-align: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
                align-items: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
         -ms-flex-line-pack: center; /* param flexbox, pour plus d'infos voir article par css-tricks */ /* param flexbox, pour plus d'infos voir article par css-tricks */
                 -webkit-align-content: center;
                 align-content: center; /* param flexbox, pour plus d'infos voir article par css-tricks */
 
    }
    .block_spe_content div {
        width: 50%;
        padding: 10px;
    }
    .block_spe h1 {
        text-decoration: underline;/* on souligne*/
    }
    .block_spe h2 {
        text-decoration: underline;/* on souligne*/
        font-weight: bold; /*police en gras*/
    }
    .block_spe h3 {
        font-weight: bold; /*police en gras*/
    }
    .block_spe img {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /*effet ombre*/
    }
    .block_spe span {
        margin: 3px;
    }
        .block_spe span a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            background-color: #1A2530;
            border-radius: 4px;
            padding: 15px;
        }


.block_user_list {
    display: -webkit-flex;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    display: -ms-flexbox;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    display: flex;/*flexbox pour ne pas se fatiguer avec les float, de plus cela facilite l'organisation*/
    -webkit-flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
        -ms-flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            flex-direction: row;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
    -webkit-justify-content: center;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            justify-content: center;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
              -ms-flex-pack: center;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
       -webkit-align-items: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
            -ms-flex-align: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
               align-items: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
        -ms-flex-line-pack: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*//*param de flexbox, voir css-tricks, permet de ranger son contenu*/
     -webkit-align-content: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
             align-content: stretch;/*param de flexbox, voir css-tricks, permet de ranger son contenu*/
}
    .block_user {
        background-color: #ecf0f1;/*couleur de fond*/
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
        box-shadow: 0 0 3px rgba(0,0,0,0.3);/*effet d'ombre*/
        border-top: 3px solid #2c3e50;/*bordure en haut de la div*/
        margin: 20px;/*espacements*/
        max-width: 300px;/*largeur max*/
    }
        .block_user a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
        .block_user em {
            font-style: italic;
        }
        .block_user img {
            width: 100%;/*on s'assure de la largeur de l'image*/
        }
        .user_name {
            text-align: center;/*on centre le nom*/
            background-color: #2c3e50;/*couleur de fond du nom*/
            color: #ecf0f1;/*couleur du texte*/
            display: block;/*on l'assigne les propriétés block*/
            padding: 8px;/*espacements*/
            font-weight: bold;/*police en gras*/
            margin: 0;/*pas d'espaces dehors*/
        }
        .user_desc {
            text-align: center;/*on centre le texte*/
        }

/* FOOTER LINK EFFECT PARAM
=====================================================================================================*/
.brackets_link:before{
    margin-right: 3px;/*espace à droite*/
    content: "[";/*contenu de l'effet*/
    -webkit-webkit-transform: translateX(20px);/*effet de l'animation*/
       -moz-webkit-transform: translateX(20px);/*effet de l'animation*/
        -ms-webkit-transform: translateX(20px);/*effet de l'animation*/
         -o-webkit-transform: translateX(20px);/*effet de l'animation*/
            webkit-transform: translateX(20px);/*effet de l'animation*/
                   transform: translateX(20px);/*effet de l'animation*/
}
    .brackets_link:after{
        margin-left: 3px;/*espace à gauche*/
        content: "]";/*contenu de l'effet*/
        -webkit-webkit-transform: translateX(-20px);/*effet de l'animation*/
           -moz-webkit-transform: translateX(-20px);/*effet de l'animation*/
            -ms-webkit-transform: translateX(-20px);/*effet de l'animation*/
             -o-webkit-transform: translateX(-20px);/*effet de l'animation*/
                webkit-transform: translateX(-20px);/*effet de l'animation*/
                       transform: translateX(-20px);/*effet de l'animation*/
    }
    .brackets_link:before,
    .brackets_link:after {
        display: inline-block;/*évite les erreurs*/
        opacity: 0;/*STEAK HACHE*/
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;/*effet de l'animation*/
             -o-transition: -webkit-transform 0.3s, opacity 0.2s;/*effet de l'animation*/
                transition: -webkit-transform 0.3s, opacity 0.2s;/*effet de l'animation*/
                        transition: transform 0.3s, opacity 0.2s;/*effet de l'animation*/
    }
    .brackets_link:hover:before,
    .brackets_link:hover:after,
    .brackets_link:focus:before,
    .brackets_link:focus:after {
        opacity: 1;/*le ninja apparait*/
        -webkit-webkit-transform: translateX(0px);/*effet animation*/
           -moz-webkit-transform: translateX(0px);/*effet animation*/
            -ms-webkit-transform: translateX(0px);/*effet animation*/
             -o-webkit-transform: translateX(0px);/*effet animation*/
                webkit-transform: translateX(0px);/*effet animation*/
                       transform: translateX(0px);/*effet animation*/
    }

/* LINKTOTOP PARAM
=====================================================================================================*/
.ScrollTop {/* icon gototop*/
    text-decoration: none;/*suppression des effets de lien*/
    position: fixed;/*fixe le lien pour qu'il suive la fenêtre*/
    color: rgba(0, 0, 0, 0.7); /*la couleur de l'icone*/
    right: 5px;/*distance de la droite*/
    bottom: 5px;/*distance du bas*/
    -webkit-webkit-transform: translateY(110%); /*emplacement de base*/
       -moz-webkit-transform: translateY(110%); /*emplacement de base*/
        -ms-webkit-transform: translateY(110%); /*emplacement de base*/
         -o-webkit-transform: translateY(110%); /*emplacement de base*/
            webkit-transform: translateY(110%); /*emplacement de base*/
                   transform: translateY(110%);/*emplacement de base*/
    -webkit-transition: all .4s cubic-bezier(.56,.06,.61,.99);/*animation*/
         -o-transition: all .4s cubic-bezier(.56,.06,.61,.99);/*animation*/
            transition: all .4s cubic-bezier(.56,.06,.61,.99);/*animation*/
}
.ScrollOn {
    -webkit-webkit-transform: translateY(0%);/*effet animation*/
       -moz-webkit-transform: translateY(0%);/*effet animation*/
        -ms-webkit-transform: translateY(0%);/*effet animation*/
         -o-webkit-transform: translateY(0%);/*effet animation*/
            webkit-transform: translateY(0%);/*effet animation*/
                   transform: translateY(0%);/*effet animation*/
}
.ScrollOn:hover {
    -webkit-webkit-transform: translateY(-10%);/*effet animation*/
       -moz-webkit-transform: translateY(-10%);/*effet animation*/
        -ms-webkit-transform: translateY(-10%);/*effet animation*/
         -o-webkit-transform: translateY(-10%);/*effet animation*/
            webkit-transform: translateY(-10%);/*effet animation*/
                   transform: translateY(-10%);/*effet animation*/
}

/* ANCRES PARAM
=====================================================================================================*/
.waypoints {
    position: fixed;/*la div est fixe*/
    top: 50%;/*on la place vers le milieu de l'écran*/
    background-color: rgba(0, 0, 0, 0.8);/*couleur de fond noir et transparent*/
    padding: 5px;/*espace*/
    border-top-right-radius: 2px;/*radius*/
    border-bottom-right-radius: 2px;/*radius*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);/*effet d'ombre*/
    -webkit-transition: all .4s cubic-bezier(.56,.06,.61,.99);/*param animation*/
         -o-transition: all .4s cubic-bezier(.56,.06,.61,.99);/*param animation*/
            transition: all .4s cubic-bezier(.56,.06,.61,.99);/*param animation*/
    -webkit-webkit-transform: translateX(-110%);/*effet animation*/
       -moz-webkit-transform: translateX(-110%);/*effet animation*/
        -ms-webkit-transform: translateX(-110%);/*effet animation*/
         -o-webkit-transform: translateX(-110%);/*effet animation*/
            webkit-transform: translateX(-110%);/*effet animation*/
                   transform: translateX(-110%);/*effet animation*/
}
.wayctive {
    -webkit-webkit-transform: translateX(0%);/*effet animation*/
       -moz-webkit-transform: translateX(0%);/*effet animation*/
        -ms-webkit-transform: translateX(0%);/*effet animation*/
         -o-webkit-transform: translateX(0%);/*effet animation*/
            webkit-transform: translateX(0%);/*effet animation*/
                   transform: translateX(0%);/*effet animation*/
}
.waypoints ol li {
    color: white;/*couleur de la police en général*/
}
.waypoints ol li a {
    color: white;/*couleur de la police des liens*/
}
.waypoints ol li a .fa-circle-o:hover:before {
    content: "\f192";/*le rond du waypoint*/
}

/*---------------------------------------------------------------------------------------------------*\
LOADER
\*---------------------------------------------------------------------------------------------------*/

/* FOND DU LOADER
=====================================================================================================*/
.loader { /* masque de l'écran */
    height: 100%;/* masque de l'écran */
    z-index: 200;/* masque de l'écran */
    top: 0; /* 0 pixel au top de la class*/ /*masque de l'écran  */
    bottom: 0;/* masque de l'écran */
    right: 0;/* masque de l'écran */
    left: 0;/* masque de l'écran */
    background-color: #686872;/* masque de l'écran */
    position: fixed;/* masque de l'écran */
    transition: all .8s ease-out;/* animation */
}
/* FOND DU LOADER - Chargé
=====================================================================================================*/
.loaded .loader { /*quand le site est chargé tout monte !*/
    -webkit-transform: translateY(-100%);/*  */
    transform: translateY(-100%);/*  */
}

/* LOADER TOUT SEUL (LA MAIN)
=====================================================================================================*/
.loading { /*block qui compose la main*/
    position: relative;/*  */
    display: block; /* comporte la class comme un block pour l'organisation *//*  */
    top: 50%;/*  */
    margin: auto;/*  */
    width: 112px;/*  */
    height: 70px;/*  */
    transition: all .3s ease;/*  */
}
/* LOADER TOUT SEUL (LA MAIN) - Chargé
=====================================================================================================*/
.loaded .loading { opacity: 0 }/* vraiment besoin de commenter ceci ? */

/* LOADER TOUT SEUL (LA MAIN)
=====================================================================================================*/
.loading:before, .loading:after {
    display: table;
    content: "";
}
.loading:after { clear: both }
.loading .finger {
    float: left;
    margin: 0 2px 0 0;
    width: 20px;
    height: 100%;
}
/* LOADER DOIGT PARAM
=====================================================================================================*/
.loading .finger-1 {
    -webkit-animation: finger-1-animation 2s infinite ease-out;
            animation: finger-1-animation 2s infinite ease-out;
}
    .loading .finger-1 span {
        -webkit-animation: finger-1-animation-span 2s infinite ease-out;
                animation: finger-1-animation-span 2s infinite ease-out;
    }
    .loading .finger-1 i {
        -webkit-animation: finger-1-animation-i 2s infinite ease-out;
                animation: finger-1-animation-i 2s infinite ease-out;
    }
.loading .finger-2 {
    -webkit-animation: finger-2-animation 2s infinite ease-out;
            animation: finger-2-animation 2s infinite ease-out;
}
    .loading .finger-2 span {
        -webkit-animation: finger-2-animation-span 2s infinite ease-out;
                animation: finger-2-animation-span 2s infinite ease-out;
    }
    .loading .finger-2 i {
        -webkit-animation: finger-2-animation-i 2s infinite ease-out;
                animation: finger-2-animation-i 2s infinite ease-out;
    }
.loading .finger-3 {
    -webkit-animation: finger-3-animation 2s infinite ease-out;
            animation: finger-3-animation 2s infinite ease-out;
}
    .loading .finger-3 span {
        -webkit-animation: finger-3-animation-span 2s infinite ease-out;
                animation: finger-3-animation-span 2s infinite ease-out;
    }
    .loading .finger-3 i {
        -webkit-animation: finger-3-animation-i 2s infinite ease-out;
                animation: finger-3-animation-i 2s infinite ease-out;
    }
.loading .finger-4 {
    -webkit-animation: finger-4-animation 2s infinite ease-out;
            animation: finger-4-animation 2s infinite ease-out;
}
    .loading .finger-4 span {
        -webkit-animation: finger-4-animation-span 2s infinite ease-out;
                animation: finger-4-animation-span 2s infinite ease-out;
    }
    .loading .finger-4 i {
        -webkit-animation: finger-4-animation-i 2s infinite ease-out;
                animation: finger-4-animation-i 2s infinite ease-out;
    }
.loading .finger-item { /* doigt de la main  */
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 6px 6px 8px 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 6px 6px 8px 8px;
    -moz-background-clip: padding;
    border-radius: 6px 6px 8px 8px;
    background-clip: padding-box;
    background: #fff;
}
    .loading .finger-item span { /* bout du doigt */
        position: absolute;
        left: 0;
        top: 0; /* 0 pixel au top de la class*/
        width: 100%;
        height: auto;
        padding: 5px 5px 0 5px;
    }
    .loading .finger-item span:before, .loading .finger-item span:after { /* bout du doigt */
        content: '';
        position: relative;
        display: block; /* comporte la class comme un block pour l'organisation */
        margin: 0 0 2px 0;
        width: 100%;
        height: 2px;
        background: #686872;
    }
    .loading .finger-item i { /* ongle du doigt */
        position: absolute;
        left: 3px;
        bottom: 3px;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 10px 10px 7px 7px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 10px 10px 7px 7px;
        -moz-background-clip: padding;
        border-radius: 10px 10px 7px 7px;
        background-clip: padding-box;
        background: #686872;
    }
.loading .last-finger {/* pouce */
    position: relative;
    float: left;
    width: 24px;
    height: 100%;
    overflow: hidden;
}
.loading .last-finger-item {/* pouce */
    position: absolute;
    right: 0;
    top: 32px;
    width: 110%;
    height: 20px;
    -webkit-border-radius: 0 5px 14px 0;
       -moz-border-radius: 0 5px 14px 0;
            border-radius: 0 5px 14px 0;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    background: #fff;
    -webkit-animation: finger-5-animation 2s infinite linear;
            animation: finger-5-animation 2s infinite linear;
} 
    .loading .last-finger-item i { /* pouce */
        position: absolute;
        left: 0;
        top: -8px;
        width: 22px;
        height: 8px;
        background: #fff;
        overflow: hidden;
    }
    .loading .last-finger-item i:after {/* pouce */
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 34px;
        height: 20px;
        -webkit-border-radius: 0 0 15px 15px;
           -moz-border-radius: 0 0 15px 15px;
                border-radius: 0 0 15px 15px;
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
                background-clip: padding-box;
        background: #686872;
    }

/* ANIMATION DOIGT PARAM
=====================================================================================================*/
@-webkit-keyframes finger-1-animation { /* animation 1doigt */
    0%   { padding: 12px 0 5px 0; }
    20%  { padding: 12px 0 5px 0; }
    29%  { padding: 4px 0 24px 0; }
    35%  { padding: 4px 0 24px 0; }
    41%  { padding: 12px 0 5px 0; }
    100% { padding: 12px 0 5px 0; }
}
@keyframes finger-1-animation { /* animation 1doigt */
    0%   { padding: 12px 0 5px 0; }
    20%  { padding: 12px 0 5px 0; }
    29%  { padding: 4px 0 24px 0; }
    35%  { padding: 4px 0 24px 0; }
    41%  { padding: 12px 0 5px 0; }
    100% { padding: 12px 0 5px 0; }
}
@-webkit-keyframes finger-1-animation-span { /* animation 1doigt */
    0%   { top: 0; }
    20%  { top: 0; }
    29%  { top: -7px; }
    35%  { top: -7px; }
    41%  { top: 0; }
    100% { top: 0; }
}
@keyframes finger-1-animation-span { /* animation 1doigt */
    0%   { top: 0; }
    20%  { top: 0; }
    29%  { top: -7px; }
    35%  { top: -7px; }
    41%  { top: 0; }
    100% { top: 0; }
}
@-webkit-keyframes finger-1-animation-i { /* animation 1doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    20%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    29%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    35%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    41%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
@keyframes finger-1-animation-i { /* animation 1doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    20%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    29%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    35%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    41%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
/* ANIMATION DOIGT PARAM
=====================================================================================================*/
@-webkit-keyframes finger-2-animation { /* animation 2doigt */
    0%   { padding: 6px 0 2px 0; }
    24%  { padding: 6px 0 2px 0; }
    33%  { padding: 2px 0 16px 0; }
    39%  { padding: 2px 0 16px 0; }
    45%  { padding: 6px 0 2px 0; }
    100% { padding: 6px 0 2px 0; }
}
@keyframes finger-2-animation { /* animation 2doigt */
    0%   { padding: 6px 0 2px 0; }
    24%  { padding: 6px 0 2px 0; }
    33%  { padding: 2px 0 16px 0; }
    39%  { padding: 2px 0 16px 0; }
    45%  { padding: 6px 0 2px 0; }
    100% { padding: 6px 0 2px 0; }
}
@-webkit-keyframes finger-2-animation-span { /* animation 2doigt */
    0%   { top: 0; }
    24%  { top: 0; }
    33%  { top: -7px; }
    39%  { top: -7px; }
    45%  { top: 0; }
    100% { top: 0; }
}
@keyframes finger-2-animation-span { /* animation 2doigt */
    0%   { top: 0; }
    24%  { top: 0; }
    33%  { top: -7px; }
    39%  { top: -7px; }
    45%  { top: 0; }
    100% { top: 0; }
}
@-webkit-keyframes finger-2-animation-i { /* animation 2doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    24%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    33%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    39%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    45%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
@keyframes finger-2-animation-i { /* animation 2doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    24%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    33%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    39%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    45%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
/* ANIMATION DOIGT PARAM
=====================================================================================================*/
@-webkit-keyframes finger-3-animation { /* animation 3doigt */
    0%   { padding: 0 0 0 0; }
    28%  { padding: 0 0 0 0; }
    37%  { padding: 0 0 12px 0; }
    43%  { padding: 0 0 12px 0; }
    49%  { padding: 0 0 0 0; }
    100% { padding: 0 0 0 0; }
}
@keyframes finger-3-animation { /* animation 3doigt */
    0%   { padding: 0 0 0 0; }
    28%  { padding: 0 0 0 0; }
    37%  { padding: 0 0 12px 0; }
    43%  { padding: 0 0 12px 0; }
    49%  { padding: 0 0 0 0; }
    100% { padding: 0 0 0 0; }
}
@-webkit-keyframes finger-3-animation-span { /* animation 3doigt */
    0%   { top: 0; }
    28%  { top: 0; }
    37%  { top: -7px; }
    43%  { top: -7px; }
    49%  { top: 0; }
    100% { top: 0; }
}
@keyframes finger-3-animation-span { /* animation 3doigt */
    0%   { top: 0; }
    28%  { top: 0; }
    37%  { top: -7px; }
    43%  { top: -7px; }
    49%  { top: 0; }
    100% { top: 0; }
}
@-webkit-keyframes finger-3-animation-i { /* animation 3doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    28%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    37%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    43%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    49%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
@keyframes finger-3-animation-i { /* animation 3doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    28%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    37%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    43%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    49%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
/* ANIMATION DOIGT PARAM
=====================================================================================================*/
@-webkit-keyframes finger-4-animation { /* animation 4doigt */
    0%   { padding: 8px 0 3px 0; }
    32%  { padding: 8px 0 3px 0; }
    41%  { padding: 4px 0 20px 0; }
    47%  { padding: 4px 0 20px 0; }
    53%  { padding: 8px 0 3px 0; }
    100% { padding: 8px 0 3px 0; }
}
@keyframes finger-4-animation { /* animation 4doigt */
    0%   { padding: 8px 0 3px 0; }
    32%  { padding: 8px 0 3px 0; }
    41%  { padding: 4px 0 20px 0; }
    47%  { padding: 4px 0 20px 0; }
    53%  { padding: 8px 0 3px 0; }
    100% { padding: 8px 0 3px 0; }
}
@-webkit-keyframes finger-4-animation-span { /* animation 4doigt */
    0%   { top: 0; }
    32%  { top: 0; }
    41%  { top: -7px; }
    47%  { top: -7px; }
    53%  { top: 0; }
    100% { top: 0; }
}
@keyframes finger-4-animation-span { /* animation 4doigt */
    0%   { top: 0; }
    32%  { top: 0; }
    41%  { top: -7px; }
    47%  { top: -7px; }
    53%  { top: 0; }
    100% { top: 0; }
}
@-webkit-keyframes finger-4-animation-i { /* animation 4doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    32%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    41%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    47%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    53%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
@keyframes finger-4-animation-i { /* animation 4doigt */
    0%   { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    32%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    41%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    47%  { bottom: 8px; height: 12px; -webkit-border-radius: 7px 7px 4px 4px;   -webkit-background-clip: padding-box; -moz-border-radius: 7px 7px 4px 4px;   -moz-background-clip: padding; border-radius: 7px 7px 4px 4px;   background-clip: padding-box;}
    53%  { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
    100% { bottom: 3px; height: 14px; -webkit-border-radius: 10px 10px 7px 7px; -webkit-background-clip: padding-box; -moz-border-radius: 10px 10px 7px 7px; -moz-background-clip: padding; border-radius: 10px 10px 7px 7px; background-clip: padding-box;}
}
@-webkit-keyframes finger-5-animation { /* animation pouce */
    0%   { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    34%  { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    43%  { top: 20px; right: 2px; -webkit-border-radius: 0 8px 20px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 8px 20px 0; -moz-background-clip: padding; border-radius: 0 8px 20px 0; background-clip: padding-box; -webkit-transform: rotate(-12deg); transform: rotate(-12deg);}
    50%  { top: 20px; right: 2px; -webkit-border-radius: 0 8px 20px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 8px 20px 0; -moz-background-clip: padding; border-radius: 0 8px 20px 0; background-clip: padding-box; -webkit-transform: rotate(-12deg); transform: rotate(-12deg);}
    60%  { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    100% { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
}
@keyframes finger-5-animation { /* animation pouce */
    0%   { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    34%  { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    43%  { top: 20px; right: 2px; -webkit-border-radius: 0 8px 20px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 8px 20px 0; -moz-background-clip: padding; border-radius: 0 8px 20px 0; background-clip: padding-box; -webkit-transform: rotate(-12deg); transform: rotate(-12deg);}
    50%  { top: 20px; right: 2px; -webkit-border-radius: 0 8px 20px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 8px 20px 0; -moz-background-clip: padding; border-radius: 0 8px 20px 0; background-clip: padding-box; -webkit-transform: rotate(-12deg); transform: rotate(-12deg);}
    60%  { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
    100% { top: 32px; right: 0;   -webkit-border-radius: 0 5px 14px 0; -webkit-background-clip: padding-box; -moz-border-radius: 0 5px 14px 0; -moz-background-clip: padding; border-radius: 0 5px 14px 0; background-clip: padding-box; -webkit-transform: rotate(0deg);   transform: rotate(0deg);}
}

/*---------------------------------------------------------------------------------------------------*\
RESPONSIVE PARAM
\*---------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1050px) {
    .block_nav ul li a {
        font-size: 10px;
    }
}

@media all and (max-width: 950px) {
    .block_nav {
        min-height: 160px;
    }
    .block_nav ul li a {
        font-size: 10px;
    }
        .navbar-fixed {
            height: 50px;
        }
}

@media all and (max-width: 500px) {
    .block_nav {
        min-height: 80px; 
    }
}